# Python build artifacts
*.egg-info/
__pycache__/
*.pyc

# Tree-sitter / C-extension binaries
setup.py
*.so
*.pyd
*.dll
*.lib
*.obj

# Other
src/models/trace.json
*config.toml
plans/
mlruns/
mlartifacts/
cmd.sh
notes.md
pyrightconfig.json
temp/
.temp/
temp0/
temp1/
build/
dist/
README.html
logs/
openai/
plan.md
torch_compile_debug/
weights/
*.pt
*.db
